.slider-container {
  position: relative;
}

.slider-input {
  border-radius: 0.5rem;
  width: 100%;
  height: 0.5rem;
  background-color: #e5e7eb;
  appearance: none;
  cursor: pointer;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #4caf50;
  cursor: pointer;
}

.slider-marks-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.slider-mark {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6b7280;
}

/* Tamaños */

.slider-small {
  min-width: 150px;
}

.slider-medium {
  min-width: 200px;
}

.slider-large {
  min-width: 300px;
}

/* Disabled */

.slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* FullWidth */
.slider-fullWidth {
  width: 100%;
}
