.label {
  display: inline-block;
  color: #374151;
  transition: color 0.2s ease-in-out;
}

/* Tamaños */

.label-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.label-medium {
  font-size: 1rem;
  line-height: 1.5rem;
}

.label-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Font Weight */

.label-font-light {
  font-weight: 300;
}

.label-font-normal {
  font-weight: 400;
}

.label-font-medium {
  font-weight: 500;
}

.label-font-bold {
  font-weight: 700;
}

/* Disabled */

.label-disabled {
  color: #9ca3af;
  cursor: not-allowed;
}
